<aside class="side-menu-container" [ngClass]="{'side-menu-container-active': showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu}" (click)="$event.stopImmendiatePropagation();">

    <section class="menu-header">
      <span class="greeting-text">Welcome Back</span>
      <div class="profile-image-container">
        <img src="https://avatars3.githubusercontent.com/u/14914610?s=460&v=4" alt="profile image" class="profile-image">
      </div>
      <div class="account-details">
        <span class="name-text">Andrii</span>
        <div class="email-text">andrii@example.com</div>
      </div>
    </section>
    <section class="menu-body">

    </section>
    <section class="menu-footer">

    </section>

  </nav>
</aside>

<div class="root-container">
  <header class="main-header" [ngClass]="{'main-header-dark': darkModeActive}">

    <div class="left-section">
      <div (click)="toggleMenu()" class="hamburger-icon" id="menu-burger-icon">☰</div>
      <svg class="logo-icon"></svg>
    </div>


    <h3 class="date-text">Today</h3>

    <div class="mode-toggle-container">
      <span class="mode-toggle-text">Light</span>

      <label class="toggle-button-container">
        <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle-input" />
        <span [ngClass]="{'mode-toggle-bg-checked': darkModeActive}" class="mode-toggle-bg"></span>
        <span [ngClass]="{'mode-toggle-circle-checked': darkModeActive}" class="mode-toggle-circle"></span>
      </label>

      <span class="mode-toggle-text">Dark</span>
    </div>

  </header>

  <main class="main-continer">
    <div class="main-container-bg" [ngClass]="{'main-container-bg-dark': darkModeActive}"></div>
  </main>

  <footer class="main-footer">
    <small class="copyright-text">Copyright ...</small>
  </footer>
</div>